{
  "extends": ["relaxed-ts"],
  "rules": {
    "max-params": "off",
    "consistent-return": "off",
    "no-warning-comments": "off",
    "@typescript-eslint/no-inferrable-types": "off",
    "no-empty": "off",
    "prefer-const": "off",
    "class-methods-use-this": "off"
  }
}
